env/*
EmbraceTheWait/1min_alexHormozi.mp3
EmbraceTheWait/1min_alexHormozi.mp4
EmbraceTheWait/1min_alexHormozi.srt
EmbraceTheWait/5min_alexHormozi.mp3
EmbraceTheWait/5min_alexHormozi.mp4
EmbraceTheWait/alexHormozi_createAHumanInterview.mp3
EmbraceTheWait/alexHormozi_createAHumanInterview.mp4
EmbraceTheWait/ihopeWaterIsCold.mp4
Transcripts/.DS_Store
Transcripts/[result]attempt1_Sep182024_162709.srt
Transcripts/1min_alexHormozi_Sep142024_162549.srt
Transcripts/1min_alexHormozi_Sep142024_162549.txt
Transcripts/5min_alexHormozi_Sep052024_163442.txt
Transcripts/5min_alexHormozi_Sep062024_114718.txt
Transcripts/5min_alexHormozi_Sep062024_130442.txt
Transcripts/5min_alexHormozi.txt
Transcripts/alexHormozi_createAHumanInterview_Sep062024_135932.txt
Transcripts/gregPlittTheGuyOrNotTheGuy_Sep142024_161331.txt
Transcripts/冷水烫_no9_冬日恋情故事_Sep292024_151120.srt
Transcripts/冷水烫_no9_冬日恋情故事_Sep292024_151120.txt
Transcripts/.DS_Store
Transcripts/[result]attempt1_Sep182024_162709.srt
Transcripts/1min_alexHormozi_Sep142024_162549.srt
Transcripts/1min_alexHormozi_Sep142024_162549.txt
Transcripts/5min_alexHormozi_Sep052024_163442.txt
Transcripts/5min_alexHormozi_Sep062024_114718.txt
Transcripts/5min_alexHormozi_Sep062024_130442.txt
Transcripts/5min_alexHormozi.txt
Transcripts/alexHormozi_createAHumanInterview_Sep062024_135932.txt
Transcripts/gregPlittTheGuyOrNotTheGuy_Sep142024_161331.txt
Transcripts/冷水烫_no9_冬日恋情故事_Sep292024_151120.srt
Transcripts/冷水烫_no9_冬日恋情故事_Sep292024_151120.txt
.vscode/settings.json
